@model List<Tasker.Web.Pages.Tasks.ViewModels.CommentViewModel>

@{
  var currentUserId = (Guid)ViewBag.CurrentUserId;
}

@foreach(var comment in Model)
{
  <article class="p-6 my-2 text-base bg-white rounded-lg dark:bg-gray-900">
    <footer class="flex justify-between items-center mb-2">
        <div class="flex items-center">
            <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">@comment.Member.Name</p>
            <p class="text-sm text-gray-600 dark:text-gray-400">@comment.Date</p>
        </div>
        @if (comment.Member.Id == currentUserId)
        {
          <a 
            class="btn btn-outline btn-error" 
            hx-post="@Url.Page("Edit", "RemoveComment", new { commentId = comment.Id })"
            hx-target="#comments-result"
            hx-push-url="false"
          >
            Excluir
          </a>
        }
    </footer>
    <p class="text-gray-500 dark:text-gray-400">@comment.Text</p>
  </article>
}