@model Tasker.Web.Pages.Boards.Index;

<div>
  @if (!Model.BoardList.Any())
  {
    <div>Nenhum espaço encontrado.</div>
  }
  else 
  {
    <ul>
      @foreach (var board in Model.BoardList)
      {
        <li 
          class="my-2 p-4 border flex items-center justify-between"
        >
          <span>@board.Name</span>
          <div class="flex gap-8">
            <a
              class="btn flex items-center btn-ghost tooltip tooltip-bottom"
              data-tip="Visualizar"
              href="/tasks?boardId=@board.Id!.Value"
            >
              <span class="icon">
                <i class="fas fa-eye"></i>
              </span>
            </a>
            <a 
              class="btn flex items-center btn-ghost tooltip tooltip-bottom"
              data-tip="Editar espaço"
              hx-get
              hx-page="Edit"
              hx-route-id="@board.Id"
              hx-target="body"
              hx-push-url="true"
            >
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            </a>
            <a 
              class="btn flex items-center btn-ghost tooltip tooltip-bottom"
              data-tip="Excluir espaço"
              hx-get
              hx-page="Delete"
              hx-route-id="@board.Id"
              hx-target="body"
              hx-push-url="true"
            >
              <span class="icon">
                <i class="fas fa-trash"></i>
              </span>
            </a>
          </div>
        </li>
      }
    </ul>
  }
</div>
