@model Tasker.Web.Pages.Boards.Index;

<div>
  @if (!Model.BoardList.Any())
  {
    <div>Nenhum espaço encontrado.</div>
  }
  else 
  {
    <ul>
      @foreach (var board in Model.BoardList)
      {
        <li 
          class="my-2 p-2 border is-flex is-align-items-center is-justify-content-space-between"
        >
          <span>@board.Name</span>
          <div>
            <a
              class="button"
              href="/tasks?boardId=@board.Id!.Value"
            >
              <span class="icon is-small">
                <i class="fas fa-eye"></i>
              </span>
            </a>
            <button 
              class="button"
              type="button"
              hx-get="@Url.Page("Index", "SaveBoardModal", new { id = board.Id })"
              hx-target="#target-modal"
              hx-trigger="click"
              hx-push-url="false"
            >
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
            </button>
            <button 
              class="button"
              type="button"
              hx-get="@Url.Page("Index", "DeleteBoardModal", new { id = board.Id })"
              hx-target="#target-modal"
              hx-trigger="click"
              hx-push-url="false"
            >
              <span class="icon is-small">
                <i class="fas fa-trash"></i>
              </span>
            </button>
          </div>
        </li>
      }
    </ul>
  }
</div>
