@model Tasker.Web.Pages.Boards.ViewModels.BoardViewModel;

<div
  id="save-board-modal"
  class="modal"
  _="on load add .is-active to me" 
>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Salvar espaço</p>
    </header>
    <form
      hx-post="@Url.Page("Index", "SaveBoard", new { id = Model.Id })"
      hx-target="#target-result"
      hx-push-url="false"
      hx-trigger="submit"
      hx-include="#save-board-modal input"
      _="on htmx:afterRequest remove .is-active from <#save-board-modal/>"
    >
      <section class="modal-card-body">
        <div>
          <input
            class="input" 
            name="name" 
            required 
            value="@(Model.Name)" 
          />
        </div>
      </section>
      
      <footer class="modal-card-foot">
        <div class="buttons">
          <button 
            class="button"
            type="button"
            _="on click remove .is-active from <#save-board-modal/>"
          >
            Cancelar
          </button>
          <button 
            type="submit" 
            class="button is-success"
            disabled
            _="on change from closest <form/> or load
              if (<[required]:invalid/>).length > 0
                add @@disabled 
                then exit
              end
              remove @@disabled"
          >
            Salvar
          </button>
        </div>
      </footer>
    </form>
  </div>
  <button 
    class="modal-close is-large" 
    _="on click remove .is-active from <#save-board-modal/>">
  </button>
</div>
