@page "/boards"
@model Tasker.Web.Pages.Boards.Index
@{
    ViewData["Title"] = "Home page";
}

<div class="m-12">
    <div class="flex">
        <div class="mr-2">
            <input 
                class="input input-bordered"
                type="text"
                name="searchQuery"
                hx-get="@Url.Page("Index", "SearchBoards")"
                hx-trigger="keyup changed delay:500ms"
                hx-target="#target-result"
                placeholder="Pesquise..." 
            />
        </div>
        <div>
            <a 
                class="btn btn-primary" 
                hx-get
                hx-page="Create"
                hx-target="body"
                hx-push-url="true"
            >
                Criar novo espaço
            </a>
        </div>
    </div>    
    
    <div id="target-result" class="mt-4">
        <partial name="_Result" />
    </div> 
</div>