@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form
        method="post"
        asp-page="Index"
        asp-page-handler="CreateBoard"
    >
        <button 
            type="submit"
        >
            Criar espaço
        </button>
    </form>
    

    <div id="board-list"></div>
</div>
